.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;

  .search-field {
    display: flex;
    background: $dimWhite;
    border-radius: 4px;
    width: 45%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin-right: 20px;
    padding: 5px;
  }

  .input-base {
    padding-left: 20px;
  }

  .search-icon {
    height: 100%;
    font-size: 30px;
    pointer-events: none;
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.79);
  }

  // .add-word {
  //   position: absolute;
  //   right: 0;
  // }
}
